.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    row-gap: 20px;
    align-items: center;
    
}

.sensordata {
    width: 60%;
    font-size: 12px;
    outline: 2px solid rgb(20, 20, 20);
    border-radius: 10px;
    padding: 10px;
    background-color: white;
}

.tempPlots {
  width: 1470px;
  height: 600px;
  background-color: white;
  display: flex;
  column-gap: 40px;
  justify-content: center;
  align-items: center;
  row-gap: 10px;
  padding: 20px;
  outline: 2px solid rgb(20, 20, 20);
  border-radius: 10px;
      
}

.tempPlots span {
    font-weight: 700;
}

.tempData {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  
  padding: 0px;
  
}

.timeInfo {
  width: 40%;
  padding: 20px;
  outline: 2px solid rgb(20, 20, 20);
  border-radius: 10px;
  background-color: white;

}

.time-and-object {
  display: flex;
  column-gap: 20px;
  padding: 20px 0px;
  font-size: 12px;
  height: 100%;
  
}

.sortedData h3 {
  font-size: 14px;
}

.sortedData {
  outline: 2px solid rgb(20, 20, 20);
  padding: 20px;
  border-radius: 10px;
  background-color: white;
}